.bboard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bbulletin{
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    margin: 1em;
    text-align: center;
    width: 80%;
}

.bbulletin .title{
    margin-bottom: 0.2em;
    margin-top: 0.5em;
}

.bbulletin .attributes{
    padding: 0em 0em 0em 4em;
}

.bbulletin .attributes li{
    font-size: 0.8em;
    list-style: none;
    text-align: left;
    text-decoration: none;
    /* text-transform: uppercase; */
}

.bbulletinAnimation{    
    animation-duration: 5s;
    animation-name: zoonin;
    animation-timing-function: ease;
}

.level{
    margin-top: 0px;
}

@keyframes zoonin {
    from {
        transform:scale(0.30);
        /* margin-right: 500%; */
        /* width: 300% */
    }
  
    to {
        transform:scale(1);
        /* margin-right: 0%; */
        /* width: 100%; */
    }
}


@media (min-width: 601px) {
    .bbulletin{
        /* padding: 1em; */
        margin: 2em;
        text-align: center;
        width: 38%;
    }
}

@media (min-width: 1051px) {
    .bbulletin{
        /* padding: 1em; */
        margin: 2em 3em;
        text-align: center;
        width: 35%;
    }
}